*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#our-team{
    background: linear-gradient(rgba(43, 42, 42, 0.408), rgba(0, 0, 0, 0.351)), url(image/PutYourImage.png) ;
    /* width: 1920px; */
    /* height: 744px; */
    /* background-size: contain; */
    background-size: cover;
    height: 465px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col{
    flex: 1 0 0%;
}
.posi-rel{
    position: relative;
}
.posi-ab{
    position: absolute;
}

.team-member {
    text-align: center;
} 
.team-member img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
} 
.team-member *{ 
    display: block;
}
.team-member span{
    color: white;
    display: none;
}
.team-images {
    transition: all 1s;
    z-index: 1;
    filter: grayscale(1);
}
.team-images:hover{
    transform: scale(1.1);
}
.team-images:hover{
    filter: grayscale(0);
}
.team-member:hover span{
    display: block;
    width: 150px;
    left: -40px;
}
.team-member span:nth-child(even){
    top: 95%;
}
.team-member span:nth-child(odd){
    top: 130%;
}
.team-images:nth-child(1){
    top: 220px;
}
.team-images:nth-child(2){
    top: 150px;
    left: 250px;
}
.team-images:nth-child(3){
    top: 150px;
    left: 500px;
}
.team-images:nth-child(4){
    top: 180px;
    right: 300px;
}
.team-images:nth-child(5){
    top: 120px;
    right: 100px;
}